html 
    head
    body 
        main 
            div
                each item in list
                    div(id=item[2])
                        div=item[0]
                        div=item[1]
                        div=item[2]
                        div=item[3]
                        div=item[4] 
